<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Name" value="notepad.exe" />
    <add key="Keyword" value="" />
    <add key="Weekday" value="90"/>
    <add key="Weekend" value="120"/>
    <add key="Interval" value="60"/>
  </appSettings>
</configuration>